
<form action="/submit" method="POST" hx-post="/submit" hx-target="#response">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <button type="submit">Submit</button>
</form>
<div id="response"></div>
